.headerProducto{
    padding-top: 25px;
    background-color: #31363F;
    color: #DFE4EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-top: 55px;
}

.headerProducto div{
    width: 100%;
}

.headerProducto div h2{
    color: #DFE4EA;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.headerProducto p{
    font-size: 14px;   
    color: #DFE4EA;
}

.iconoVolver{
    font-size: 40px;
    padding: 15px;
    color: #DFE4EA;    
}

.ubicacion{
    background-color: #DFE4EA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ubicacion div dt{
    display: flex;
}

.ubicacion div dd{
    margin-left: 15px;
}

.ubicacion div dt, .ubicacion div dd{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.contenedorEstrellasProducto{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-right: 8px;
}

.calificacionProductos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
}

.iconosLike{
    font-size: 25px;
    padding: 5px;
}

.fechasDisponibles{
    background-color: #DFE4EA;
    display: flex;
    padding: 40px;
}

.contenedorCalendario{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap:100px;
    
}

.contendorReserva{
    max-width: 500px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);    
}

.botonCompartir{
    border: none;
    background-color: #FFF;
}

.tituloAdministracion{
    display: flex;
    justify-content: space-between;
}

.linkMisProductos{
    text-decoration: none;
    margin-right: 10px;
}






@media screen and (max-width: 768px){
    .contenedorCalendario{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .contendorReserva{
        display: flex;
        gap: 15px;
            
    }

  }

@media screen and (max-width: 460px){
    .ubicacion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    .contenedorDireccion dd{
        display: none;
    }

    .contenedorCalendario{
        flex-direction: column;
        gap: 15px;
        text-align: start;
    }

    .contendorReserva{
        flex-direction: column;
        max-width: 100%;
        background-color: #DFE4EA;
        padding: 0px;
        border-radius: none;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12);    
    }

    .headerProducto{
        padding-top: 35px;
    }

    
    
}


