.contenedorTodasReglas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    padding: 20px;
    margin-bottom: 30px;
}

.contenedorReglas{
    display: flex;
    flex-direction: column;
}


ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.listaReglas{
    max-width: 100%;
}

.contenedorReglas ul li{
    margin: 10px 5px;
}

@media screen and (max-width: 768px){
    .contenedorTodasReglas{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 40px;        
        padding: 5px;
        margin-bottom: 30px;
    }

    .contenedorReglas{
        margin-right: 64px;
        margin-bottom: 10px;
        
    }

  }

@media screen and (max-width: 460px){
    .contenedorTodasReglas{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 30px;
    }    
}