@import '../../../Scss/abstracts/variables';

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0572d;
  background-color: #ffff;
  padding: 5px;
  top: 0;
  position: fixed !important;
  z-index: 999;
  width: 100vw;
  height: 80px;
}

.logoNavBar {
  display: flex;
  color: #282c34;
  align-items: center;
}

.parrafoNavBar {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0;
  align-self: center;
}

.cruz{
  border: none;
  background-color: #FFFFFF;
  padding: 3px;
  font-weight: bold;
}


.botones {
  display: flex;
  padding: 0px;
  margin-right: 15px;
}

img {
  padding: 10px;
}

.menu {
  visibility: hidden;
} /* Quizás se podría sacar, ya que el menú hamburguesa ya no le usa */

.buttonNavBarAccount, .buttonNavBarLogin{
  transition: .1s ease all;
}

.buttonNavBarAccount:hover, .buttonNavBarLogin:hover {
  background: #F0572D;
  color: #FFFFFF;
  padding: 7px 20px;
}

.linkAdministracion{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #282c34;
  text-decoration: none;
  margin-right: 7px;
  &:hover{
    color: $primaryColorOrange;
  }
}

.lineaHorizontal{
  border: 1px solid #F0572D;
  background-color: #F0572D;
  height: 90%;
  margin-right: 7px;
}

@media screen and (max-width: 768px) {
  .parrafoNavBar {
    display: none;
    visibility: hidden;
  }

  .botones {
    visibility: hidden;
    align-items: flex-end;
  }

  .menu {
    visibility: visible;
    font-size: 25px;
    margin-right: 15px;
    z-index: 1000;
  } /* Quizás se podría sacar, ya que el menú hamburguesa ya no le usa */

  .navBar {
    height: 93px;
  }

  .buttonNavBar {
    width: 0%;
    display: none;
    visibility: hidden;
  }
  
  .buttonNavBarAccount, .buttonNavBarLogin {
    width: 0%;
    display: none;
    visibility: hidden;
  }
}
