.headerProducto{
    padding-top: 25px;
    background-color: #31363F;
    color: #DFE4EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-top: 55px;
}

.headerProducto div{
    margin-left: 10px;
}

.headerProducto p{
    font-size: 14px;   
    color: #DFE4EA;
}

.iconoVolver{
    font-size: 40px;
    padding: 15px;
    color: #DFE4EA;    
}

.ubicacion{
    background-color: #DFE4EA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ubicacion div dd{
    margin-left: 15px;
}

.ubicacion div dt, .ubicacion div dd{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.calificacionProductos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.iconosLike{
    font-size: 25px;
    padding: 5px;
}

.fechasDisponibles{
    background-color: #DFE4EA;
    display: flex;
}

.contenedorCalendario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #FFF;
}

.botonReservaFecha{
}



