section{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    padding: 15px;
}








/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

/* header{
    position: sticky;
    z-index: 9999;
    top: 0px;
} */

/* @media screen and (max-width: 768px) {
    header{
        position:inherit;
    }
} */