.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #DFE4EA;
    margin-top: 78px;
  }

  .botonBanner{
    color: #DFE4EA;
    background-color: #F0572D;
    width:206px;
    height: 40px;
    border-radius:8px;
    font-weight: 700;
    font-size: 16px;
  }

  .inputBanner{
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 422px;
    Height: 40px;
    margin-right: 8px;
    font-weight: 500;
  }


  ::placeholder{
    /* font-family: "Quicksand";  */
    font-weight: 900; 
  }

  h1{
    padding: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #DFE4EA;
  }

  .buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 25px 10px;
    max-width: 85%;
  }


  @media screen and (max-width: 768px) {
    .buscador{
      flex-direction: column;
      width : 100%;
      align-items: stretch;
    }

    .banner{
      Height: 263px;
      margin-top: 93px;
    }

    h1{
      font-size: 30px;
      padding: 5px;
    }

    .inputBanner{
      margin-bottom: 10px;
      width: 100%;
    }

    .botonBanner{
      width: 100%;
    }


  }