.botonGaleria{
    color: #fff;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 10px;
    top: -64px;
    z-index: 30;
    width: 90px;
}

.contendorGaleria{
    position: relative;
}

.imagenGaleria, .d-block{
    border-radius: 20px;
}