.contenedorTodasReglas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.contenedorReglas ul li{
    margin: 15px 0px;
}
