@import './../../../Scss/abstracts/variables';

.botonGaleria{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border: none;
    position: absolute;
    right: 10px;
    top: -64px;
    z-index: 30;
    width: 90px;
    text-decoration: none;
}

.botonGaleria:hover{
    color: $primaryColorOrange;
}

.contendorGaleria{
    position: relative;
}

.imagenGaleria, .d-block{
    border-radius: 20px;
}